<script lang="ts" setup>
import { ref } from "vue";
let number = ref("0");
</script>

<template>
  <v-app>
    <v-container>
      <v-text-field
        v-model.number="number"
        label="Please in put number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
      ></v-text-field>
      <v-row>
        <v-col class="col" v-for="item of number" :key="item">
          <template v-if="item != '0'">
            {{ item }}
          </template>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>
<style scoped>
.number {
  display: flex;
  justify-content: center;
}
.col {
  display: block;
  font-size: 50px;
  border: 2;
  max-width: 8%;
  flex-basis: 8%;
}
.card {
  max-width: 100%;
  width: 100px;
}
</style>
