<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
</script>
<template>
  <v-app>
    <v-container>
      <v-row>
        <v-col>
          <FirstComponent></FirstComponent>
        </v-col>
        <v-col>
          <SecondComponent></SecondComponent>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.v-row {
  font-size: 20px;
  padding: 10px;
}
</style>
