<script lang="ts" setup>
import { ref } from "vue";
let feel = ref("SMILE");
let imgFeels = ref("@/../feeling_imgs/smile.png");

function changeFeeling(id: number) {
  if (id == 1) {
    feel.value = "ANGRY";
    imgFeels.value = "@/../feeling_imgs/angry.png";
  }
  if (id == 2) {
    feel.value = "CUTE";
    imgFeels.value = "@/../feeling_imgs/cute.png";
  }
  if (id == 3) {
    feel.value = "EXCITED";
    imgFeels.value = "@/../feeling_imgs/excited.png";
  }
  if (id == 4) {
    feel.value = "PAIN";
    imgFeels.value = "@/../feeling_imgs/pain.png";
  }
  if (id == 5) {
    feel.value = "SHOCKED";
    imgFeels.value = "@/../feeling_imgs/shocked.png";
  }
  if (id == 6) {
    feel.value = "SMILE";
    imgFeels.value = "@/../feeling_imgs/smile.png";
  }
}
</script>
<template>
  <v-app>
    <v-container>
      <v-row>
        <v-col class="col6"><v-img :src="imgFeels"> </v-img> </v-col>
        <v-col class="col6"
          ><v-row class="feel" v-model="feel" elevation="0">
            <p>{{ feel }}</p>
          </v-row>
          <v-row clas></v-row>
          <v-row>
            <v-btn elevation="2" id="1" @click="changeFeeling(1)">ANGRY</v-btn>
          </v-row>
          <v-row>
            <v-btn elevation="2" id="2" @click="changeFeeling(2)">CUTE</v-btn>
          </v-row>
          <v-row>
            <v-btn elevation="2" @click="changeFeeling(3)">EXCITED</v-btn>
          </v-row>
          <v-row>
            <v-btn elevation="2" id="4" @click="changeFeeling(4)">PAIN</v-btn>
          </v-row>
          <v-row>
            <v-btn elevation="2" id="5" @click="changeFeeling(5)"
              >SHOCKED
            </v-btn>
          </v-row>
          <v-row>
            <v-btn elevation="2" id="6" @click="changeFeeling(6)">SMILE</v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.feel {
  font-size: 50px;
}
.v-img {
  width: 80%;
  height: 80%;
  margin: auto auto;
}
.v-row {
  justify-content: center;
  width: 100%;
}
.v-btn {
  width: 100%;
  height: 80px;
  display: flex;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 16px;
}
.v-btn:focus {
  background-color: yellow;
  width: 100%;
  height: 80px;
  display: flex;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
</style>
