<script setup lang="ts">
import { calMathStore } from "../stores/mathStore";
const useCalMath = calMathStore();

function increase() {
  useCalMath.increase();
}
</script>
<template>
  <v-container>
    <v-col>
      <v-row>First Component</v-row>
      <v-row>{{ useCalMath.total }}</v-row>
      <v-row> <v-btn @click="increase()">Increment</v-btn> </v-row>
    </v-col>
  </v-container>
</template>
