<script setup lang="ts">
import { calMathStore } from "../stores/mathStore";
const useCalMath = calMathStore();

function decrease() {
  useCalMath.decrease();
}
</script>
<template>
  <v-container>
    <v-col>
      <v-row>Second Component</v-row>
      <v-row> {{ useCalMath.total * 2 }}</v-row>
      <v-row> <v-btn @click="decrease()">Decrease</v-btn></v-row>
    </v-col>
  </v-container>
</template>
